extends index
block title
    h1 Вітаємо, #{firstName}
block description
    p Ви подали запит на скидання паролю для свого акаунту на Booking. Код відновлення: #{recoveryCode}
    p Майте на увазі, що цей код дійсний лише протягом 24 годин. <br/> Якщо ви не реєструвались на GeeksGoneWild, можете проігнорувати цей лист.
