extends index
block title
    h1 Hi, #{firstName}
block description
    p You have requested a password reset for your account at GeeksGoneWild. Recovery code: #{recoveryCode} 
    p Please note that this code is only valid for 24 hours. <br/> If you had not entered GeeksGoneWild, please ignore this email.
